
@media (max-width: 768px) {
  .navbarMedia {
      position: relative !important; 
      opacity: 1 !important;
      border-bottom-left-radius: none !important;
      border-left: none !important;
      border-bottom: none !important;
  }
}

