@keyframes firework-animation {
  0% {
    background-color: #ff8426;
  }
  25% {
    background-color: #fffc84;
  }
  50% {
    background-color: #ff83f4;
  }
  75% {
    background-color: #83b6ff;
  }
  100% {
    background-color: #ff8426;
  }
}
@-webkit-keyframes firework-animation {
  0% {
    background-color: #ff8426;
  }
  25% {
    background-color: #fffc84;
  }
  50% {
    background-color: #ff83f4;
  }
  75% {
    background-color: #83b6ff;
  }
  100% {
    background-color: #ff8426;
  }
}
.fireWorkParticle {
  z-index: 999;
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  animation-name: firework-animation;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.gift1 {
  padding: 3rem;
  margin: 3rem;
  border: solid black 1px;
  font-size: 3rem;
}

.gift2 {
  padding: 3rem;
  margin: 3rem;
  border: solid black 1px;
}
.blinking-fast {
  animation: blinkingText 0.25s 10;
}
.blinking {
  animation: blinkingText 0.25s 10;
  font-family: futura;
  font-style: italic;
  margin: 0 auto;
  color: white;
  font-size: 45px;
  background-color: #fc030b;
}
.blinking-medium {
  animation: blinkingText 0.7s 10;
  font-family: futura;
  font-style: italic;
  margin: 0 auto;
  color: white;
  font-size: 45px;
  background-color: #fc030b;
}
.blinking-slow {
  animation: blinkingText 1s 10;
  font-family: futura;
  font-style: italic;
  margin: 0 auto;
  color: white;
  font-size: 45px;
  background-color: #fc030b;
}

.blinking-home1 {
  animation: blinkingTextColor1 3s infinite;
  font-family: futura;
  font-style: italic;
  margin: 0 auto;
  font-size: 45px;
  background-color: pink;
  color: black;
}
.blinking-home2 {
  animation: blinkingTextColor2 2s infinite;
  font-family: futura;
  font-style: italic;
  margin: 0 auto;
  font-size: 45px;
  background-color: pink;
  color: black;
}
.blinking-home3 {
  animation: blinkingTextColor1 1s infinite;
  font-family: futura;
  font-style: italic;
  margin: 0 auto;
  font-size: 45px;
  background-color: pink;
  color: black;
}

@keyframes blinkingTextColor1 {
  0% {
    background-color: pink;
    color: black;
  }
  33% {
    background-color: black;
    color: pink;
  }
  66% {
    background-color: red;
    color: black;
  }
  100% {
    background-color: pink;
    color: red;
  }
}
@keyframes blinkingTextColor2 {
  0% {
    background-color: red;
    color: black;
  }
  33% {
    background-color: pink;
    color: red;
  }
  66% {
    background-color: pink;
    color: black;
  }
  100% {
    background-color: black;
    color: pink;
  }
}

/* Specifies the animation and transparency for the blinking text */
@keyframes blinkingText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
